*.d
*.o
*.pyc
/.gdbinit
pyrebox/config.h
pyrebox.conf
*.so
docs/build
/pyrebox_venv
/win_agent_32.exe.conf
/win_agent_64.exe.conf
guest/win/*.exe
guest/linux/linux_agent_32
guest/linux/linux_agent_64
guest/linux/test_64
guest/linux/test_32
*.a







/qemu/.doctrees
/qemu/config-devices.*
/qemu/config-all-devices.*
/qemu/config-all-disas.*
/qemu/config-host.*
/qemu/config-target.*
/qemu/config.status
/qemu/config-temp
/qemu/elf2dmp
/qemu/trace-events-all
/qemu/trace/generated-events.h
/qemu/trace/generated-events.c
/qemu/trace/generated-helpers-wrappers.h
/qemu/trace/generated-helpers.h
/qemu/trace/generated-helpers.c
/qemu/trace/generated-tcg-tracers.h
/qemu/ui/shader/texture-blit-frag.h
/qemu/ui/shader/texture-blit-vert.h
/qemu/ui/shader/texture-blit-flip-vert.h
/qemu/ui/input-keymap-*.c
/qemu/*-timestamp
/qemu/*-softmmu
/qemu/*-darwin-user
/qemu/*-linux-user
/qemu/*-bsd-user
/qemu/ivshmem-client
/qemu/ivshmem-server
/qemu/libdis*
/qemu/libuser
/qemu/linux-headers/asm
/qemu/qga/qapi-generated
/qemu/qapi-gen-timestamp
/qemu/qapi/qapi-builtin-types.[ch]
/qemu/qapi/qapi-builtin-visit.[ch]
/qemu/qapi/qapi-commands-*.[ch]
/qemu/qapi/qapi-commands.[ch]
/qemu/qapi/qapi-emit-events.[ch]
/qemu/qapi/qapi-events-*.[ch]
/qemu/qapi/qapi-events.[ch]
/qemu/qapi/qapi-introspect.[ch]
/qemu/qapi/qapi-types-*.[ch]
/qemu/qapi/qapi-types.[ch]
/qemu/qapi/qapi-visit-*.[ch]
/qemu/qapi/qapi-visit.[ch]
/qemu/qapi/qapi-doc.texi
/qemu/qemu-doc.html
/qemu/qemu-doc.info
/qemu/qemu-doc.txt
/qemu/qemu-edid
/qemu/qemu-img
/qemu/qemu-nbd
/qemu/qemu-options.def
/qemu/qemu-options.texi
/qemu/qemu-img-cmds.texi
/qemu/qemu-img-cmds.h
/qemu/qemu-io
/qemu/qemu-ga
/qemu/qemu-bridge-helper
/qemu/qemu-keymap
/qemu/qemu-monitor.texi
/qemu/qemu-monitor-info.texi
/qemu/qemu-version.h
/qemu/qemu-version.h.tmp
/qemu/module_block.h
/qemu/scsi/qemu-pr-helper
/qemu/vhost-user-scsi
/qemu/vhost-user-blk
/qemu/fsdev/virtfs-proxy-helper
*.tmp
*.[1-9]
*.a
*.aux
*.cp
*.exe
*.msi
*.dll
*.so
*.mo
*.fn
*.ky
*.log
*.pdf
*.pod
*.cps
*.fns
*.kys
*.pg
*.pyc
*.toc
*.tp
*.vr
*.d
!qemu/scripts/qemu-guest-agent/fsfreeze-hook.d
*.o
.sdk
*.gcda
*.gcno
*.gcov
/qemu/pc-bios/bios-pq/status
/qemu/pc-bios/edk2-*.fd
/qemu/pc-bios/vgabios-pq/status
/qemu/pc-bios/optionrom/linuxboot.asm
/qemu/pc-bios/optionrom/linuxboot.bin
/qemu/pc-bios/optionrom/linuxboot.raw
/qemu/pc-bios/optionrom/linuxboot.img
/qemu/pc-bios/optionrom/linuxboot_dma.asm
/qemu/pc-bios/optionrom/linuxboot_dma.bin
/qemu/pc-bios/optionrom/linuxboot_dma.raw
/qemu/pc-bios/optionrom/linuxboot_dma.img
/qemu/pc-bios/optionrom/pvh.asm
/qemu/pc-bios/optionrom/pvh.bin
/qemu/pc-bios/optionrom/pvh.raw
/qemu/pc-bios/optionrom/pvh.img
/qemu/pc-bios/optionrom/multiboot.asm
/qemu/pc-bios/optionrom/multiboot.bin
/qemu/pc-bios/optionrom/multiboot.raw
/qemu/pc-bios/optionrom/multiboot.img
/qemu/pc-bios/optionrom/kvmvapic.asm
/qemu/pc-bios/optionrom/kvmvapic.bin
/qemu/pc-bios/optionrom/kvmvapic.raw
/qemu/pc-bios/optionrom/kvmvapic.img
/qemu/pc-bios/s390-ccw/s390-ccw.elf
/qemu/pc-bios/s390-ccw/s390-ccw.img
/qemu/docs/built
/qemu/docs/interop/qemu-ga-qapi.texi
/qemu/docs/interop/qemu-ga-ref.html
/qemu/docs/interop/qemu-ga-ref.info*
/qemu/docs/interop/qemu-ga-ref.txt
/qemu/docs/interop/qemu-qmp-qapi.texi
/qemu/docs/interop/qemu-qmp-ref.html
/qemu/docs/interop/qemu-qmp-ref.info*
/qemu/docs/interop/qemu-qmp-ref.txt
/qemu/docs/version.texi
*.tps
.stgit-*
.git-submodule-status
cscope.*
tags
TAGS
docker-src.*
*~
*.ast_raw
*.depend_raw
/qemu/trace.h
/qemu/trace.c
/qemu/trace-ust.h
/qemu/trace-ust.h
/qemu/trace-dtrace.h
/qemu/trace-dtrace.dtrace
/qemu/trace-root.h
/qemu/trace-root.c
/qemu/trace-ust-root.h
/qemu/trace-ust-root.h
/qemu/trace-ust-all.h
/qemu/trace-ust-all.c
/qemu/trace-dtrace-root.h
/qemu/trace-dtrace-root.dtrace
/qemu/trace-ust-all.h
/qemu/trace-ust-all.c
/qemu/target/arm/decode-sve.inc.c
